/.vs
/anime-download-episodes.sln
/x64
/anime-download-episodes/db
/anime-download-episodes/x64
/anime-download-episodes/anime-download-episodes.vcxproj.filters
/anime-download-episodes/anime-download-episodes.vcxproj.user
/anime-download-episodes/small.ico
/anime-download-episodes/anime-download-episodes.ico
/anime-download-episodes/resource.aps